.color4 {
    background-color: #6BB6AB
}

.techvents {
 color: #6BB6AB;
 font-family: 'Share tech';
 font-size: 2em;
 font-weight: bold; 
}

.techvents:hover {
    color: #6BB6AB;
   }
   
hr {
    color: #6BB6AB;
}